<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.umranium.esp8266.konnect">

  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">

    <activity
        android:name=".presentation.launch.LaunchActivity"
        android:label="@string/title_activity_launch">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>
        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity
        android:name=".presentation.node_scan.NodeScanActivity"
        android:label="@string/title_activity_scan"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>

    <receiver android:name=".receiver.WifiStateChangeReceiver">
      <intent-filter>
        <action android:name="android.net.wifi.WIFI_STATE_CHANGED"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.net.wifi.STATE_CHANGE"/>
      </intent-filter>
      <intent-filter>
        <action android:name="android.net.wifi.SCAN_RESULTS"/>
      </intent-filter>
    </receiver>

  </application>

</manifest>
